# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

*.pdf
*.eps
*.png
*~

# OS X Files
*.DS_Store

# Jetbrain's Softwares
.idea/

# Jupyter Files
.ipynb_checkpoints/

# lwarp files
book/lwarp.css
book/lwarp.ist
book/lwarp.xdy
book/lwarp_formal.css
book/lwarp_mathjax.txt
book/lwarp_one_limage.txt
book/lwarp_sagebrush.css
book/lwarpmk.conf
book/book.lwarpmkconf
book/comment_html.cut
book/comment_print.cut
book/sample_project.css

# lwarp dist targets
.lwarp_*
book/book_html.*
book/book-images.txt
book/book-images/
book/index.html
book/node-*
book/figs/*.svg
book/html/
book/html-mathjax/
