@import "asciidoctor.css";

/* local rules here */

/* Make the page width approx the same as the book */
#content, #header {
    max-width: 45em;
}

/* If the screen is wide enough, position the advert-bar to the right */
@media only screen and (min-width: 1200px) {
    .sidebarblock.advert-bar {
        width: 15em;
        font-size: smaller;

        position: absolute;
        left: auto;
        right: 0;
        top: 0;

        padding: 0em 1em;
        margin-top: 0!important;
        background-color: #f8f8f7;

        border-right-width: 0;
        border-left: 1px solid #efefed;
        border-top-width: 0!important;
        border-bottom-width: 0!important;

        z-index: 1000;
        overflow: auto;
    }

    .sidebarblock.advert-bar h2 {
        font-size: 1.3575em;
    }

    /* Add some space for the advert-bar */
    #content, #header, #footnotes {
        padding-right: 15.9375em; /* 0.9375em + 15em */
        max-width: 60em;          /* 45em     + 15em */
    }
}
